.pie{
    background-color: #7B808C;
    grid-area: pie;
}
.pie img{
    width: 50px;
}
#logo_empresa{
    display: flex;
    align-items: center;
    grid-gap: 10px;
}
.redes span{
    font-size: 30px;
}
#fb,#tw,#in,#lin{
    background-color: aliceblue;
    padding: 5px;
    border-radius: 50px;
    color: gray;
}
.parte_empresa{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}
#logo_empresa p{
    color: white;
    text-transform:uppercase;
    font-size: 18px;
}
.seccion{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    grid-gap: 50px;
    padding: 10px;
}
.seccion div{
    display: flex;
    flex-direction: column;
}
div h2{
    color: white;
    font-family: Helvetica;
    padding: 5px 0;
}
a{
    text-decoration: none;
    color: white;
    font-family: Helvetica;
    padding: 5px;
}
iframe{
    width:40;
    height:80;
    overflow: hidden;
    align-items: center;
}
.derechos ul{
   margin-top: 10px;
   padding-bottom: 10px;
   display: flex;
   justify-content: center;
   list-style: none;
}
@media (max-width: 800px) {
    .seccion{
        flex-wrap: wrap;
    } 
    .derechos ul{
        flex-wrap: wrap;
    }
}
@media (max-width: 600px) {
    .seccion{
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .seccion div{
        padding-left: 10%;
    }
    .derechos ul{
        padding-left: 20%;
        flex-wrap: nowrap;
        flex-direction: column;
    }
}