* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box; /*Los elementos no se salgan del contenedor*/
    text-decoration: none;
    list-style: none;
    font-family: Helvetica;
}
body {
    min-height: 100vh;
    max-width:100%; 
    margin: 0 auto;
    background-color: #E9ECF2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: 
        "menu"
        "principal"
        "pie";
}
main {
    padding: 10%; 
    grid-area: principal;
    color: #7B808C;
}
/*********************************************************************************************/

nav{
    background-color: #2ecc71;
    height: 80px;
    width: 100%;
    grid-area: menu;
}
.enlace{
    position: absolute;
    padding: 20px 50px;
}

.logo_h{
    width: 30px; /*hemos centrado el logo : arriba y abajo 20+20+40px=80px*/
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    color: white;
}

nav ul li a{
    color: white;
    font-size: 1.125em;
    padding: 7px 13px;
    border-radius: 3px;
}
li a.activo , 
li a:hover{
    background: #7B808C;
    transition: 0.5s;
}
.check-btn{
    font-size:1.875em ;
    color: black;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

nav li ul {
    display:none;
    position:absolute;
}

nav li:hover > ul {
    display:block;
    background-color: #2ecc71;
}

.submenu {
    text-align: center;
}

section{
    height: calc(100vh - 80px);
}

/*Para la tablet*/
@media (max-width: 952px){
    .enlace{
        padding-left: 20px;

    }
    nav ul li a{
        font-size: 1em;
    }
}

/*Para dispositivos móviles*/
@media (max-width: 858px){
    .check-btn{
        display: block;
    }
    ul{
        text-align: center;
        transition: 0.5s;
        position: absolute;
        width: 100%;
        height: 100%;
        background: #7B808C;
        top: 80px;
        left: -100%; /*para corregirlo*/
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height:30px;
    }
    nav ul li a{
        font-size: 1.25em ;
    }
    li a:hover,
    li a.activo{
        background: none;
        color: rgb(9, 9, 9);
    }

    #check:checked ~ ul{ /*solo cuando esté seleccionado , buscará a ul*/
        left: 0; /*así se va a mostrar*/
    }

    .submenu {
        left: 0;
        top: auto;
        display: block;
    }

    .submenu ul li a {
        background-color: #7B808C;
    }
}
/*********************************************************************************************/
input[type=button], input[type=submit] {
    background-color: #2ecc71;
    border: none;
    color: #E9ECF2;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
input[type=button]:hover, input[type=submit]:hover{
    background-color: #66d494;
    color: white;
}
select {
    background-color: #E9ECF2;
    border: none;
    font-size: 14px;
    height: 30px;
    padding: 5px;
    width: 250px;
}
select:focus { 
    outline: none;
}
.caja {
    margin:5px auto 10px auto;	
    border:1px solid #d9d9d9;
    height:30px;
    overflow: hidden;
    width: 230px;
}
.input_f {
    background: transparent;
    border: none;
    font-size: 14px;
    padding: 5px;
    margin:5px auto 10px auto; 
    border:1px solid #d9d9d9;
    height:30px;
    overflow: hidden;
}
/*********************************************************************************************/

#paradas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    grid-gap: 10px;
  }
    
.card {
    min-height: 200px;
    overflow: hidden;
    vertical-align: top;
    padding: 2em;
    line-height: 1.5;
    border-radius: 1rem;
    color: ghostwhite;
    align-content: center;
    justify-content: center;
}

.circulo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 5px;
}

.verde {
    background: green;
}
.rojo {
    background: red;
}
.amarillo {
    background: yellow;
}

table {
    border-spacing: 10px;
  }


/*****************************************************************************************/
/* Boton automatico/manual */
:root {
    --color-green: #2ecc71;
    --color-red: #fe5e41;
    --color-button: #fdffff;
    --color-black: white;
}
.boton {
    display: inline-block;
}
.boton .boton__checkbox {
    display: none;
}
.boton .boton__label {
    background-color: var(--color-red);
    width: 5rem;
    height: 3rem;
    border-radius: 3rem;
    display: inline-block;
    position: relative;
}
.boton .boton__label:before {
    transition: .2s;
    display: block;
    position: absolute;
    width: 3rem;
    height: 3rem;
    background-color: var(--color-button);
    content: '';
    border-radius: 50%;
    box-shadow: inset 0px 0px 0px 1px var(--color-black);
    cursor:pointer;
}
.boton .boton__checkbox:checked + .boton__label {
    background-color: var(--color-green);
}
.boton .boton__checkbox:checked + .boton__label:before {
    transform: translateX(2rem);
}