* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    font-family: Helvetica;
}

body {
    min-height: 100vh;
    width: 1000px;   
    margin: 0 auto;
    background-color: #E9ECF2;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: 
        "menu menu"
        "noticias principal"
        "pie pie";
}

main {
    padding: 1em; 
    grid-area: principal;
    color: #7B808C
}

.button {
    background-color: #71A64B;
    border: none;
    color: #E9ECF2;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button:hover {
    background-color: #99BF93;
    color: white;
}

select {
    background: transparent;
    border: none;
    font-size: 14px;
    height: 30px;
    padding: 5px;
    width: 250px;
}

select:focus { 
    outline: none;
}

.caja {
    margin:5px auto 10px auto;	
    border:1px solid #d9d9d9;
    height:30px;
    overflow: hidden;
    width: 230px;
    position:relative;
}
