:root {
    --color-verde: #2ecc71;
    --color-verde-hover: #66d494;
    --color-rojo: #fe5e41;
    --color-fondo: #E9ECF2;
    --color-gris: #7B808C;
    --color-button: #fdffff;
    --color-negro: black;
    --color-blanco: white;
}
* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box; /*Los elementos no se salgan del contenedor*/
    text-decoration: none;
    list-style: none;
    font-family: Helvetica;
}
body {
    min-height: 100vh;
    max-width:100%; 
    margin: 0 auto;
    background-color: var(--color-fondo);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: 
        "menu"
        "principal"
        "pie";
}
main {
    padding: 10%; 
    grid-area: principal;
    color: var(--color-gris);
}
/*********************************************************************************************/
nav{
    background-color:  var(--color-verde);
    height: 80px;
    width: 100%;
    grid-area: menu;
}
.enlace{
    position: absolute;
    padding: 20px 50px;
}
.logo_h{
    width: 30px; /*hemos centrado el logo : arriba y abajo 20+20+40px=80px*/
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    color: var(--color-blanco);;
}
nav ul li a{
    color: var(--color-blanco);;
    font-size: 1.125em;
    padding: 7px 13px;
    border-radius: 3px;
}
li a.activo, li a:hover{
    background: var(--color-gris);
    transition: 0.5s;
}
.check-btn{
    font-size:1.875em ;
    color: var(--color-negro);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
nav li ul {
    display:none;
    position:absolute;
}
nav li:hover > ul {
    display:block;
    background-color: var(--color-verde);
}
.submenu {
    text-align: center;
}
/*Para la tablet*/
@media (max-width: 952px){
    .enlace{
        padding-left: 20px;

    }
    nav ul li a{
        font-size: 1em;
    }
}
/*Para dispositivos móviles*/
@media (max-width: 858px){
    .check-btn{
        display: block;
    }
    nav ul{
        text-align: center;
        transition: 0.5s;
        position: absolute;
        width: 100%;
        background: var(--color-gris);
        top: 80px;
        left: -100%; /*para corregirlo*/
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height:30px;
    }
    nav ul li a{
        font-size: 1.25em ;
    }
    nav li a:hover,
    nav li a.activo{
        background: none;
        color: rgb(9, 9, 9);
    }
    #check:checked ~ ul{ /*solo cuando esté seleccionado , buscará a ul*/
        left: 0; /*así se va a mostrar*/
        z-index: 1; /* delante de todo el resto*/
    }
    .submenu {
        left: 0;
        top: auto;
        display: block;
        background-color: var(--color-gris);
    }
    nav li:hover > ul {
       background-color: var(--color-gris);
       color: var(--color-blanco);;
    }
}
/*********************************************************************************************/
input[type=button], input[type=submit] {
    background-color: var(--color-verde);
    border: none;
    color: var(--color-fondo);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
input[type=button]:hover, input[type=submit]:hover{
    background-color: var(--color-verde-hover);
    color: var(--color-blanco);;
}
select {
    background-color: var(--color-fondo);
    border: none;
    font-size: 14px;
    height: 30px;
    padding: 5px;
    width: 250px;
}
select:focus { 
    outline: none;
}
.caja {
    margin:5px auto 10px auto;	
    border:1px solid #d9d9d9;
    height:30px;
    overflow: hidden;
    width: 230px;
}
.input_f {
    background: transparent;
    border: none;
    font-size: 14px;
    padding: 5px;
    margin:5px auto 10px auto; 
    border:1px solid #d9d9d9;
    height:30px;
    overflow: hidden;
}
/*********************************************************************************************/
table {
    border-spacing: 10px;
}
.variables {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
/*****************************************************************************************/
/* Boton automatico/manual */
.boton-selector {
    display: inline-block;
}
.boton-selector h1, .boton-selector  input, .boton-selector label {
    display: inline;
    vertical-align: middle;
}
.boton-selector .boton__checkbox {
    display: none;
}
.boton-selector .boton__label {
    background-color: var(--color-rojo);
    width: 5rem;
    height: 3rem;
    border-radius: 3rem;
    display: inline-block;
}
.boton-selector .boton__label:before {
    transition: .2s;
    display: block;
    width: 3rem;
    height: 3rem;
    background-color: var(--color-button);
    content: '';
    border-radius: 50%;
    box-shadow: inset 0px 0px 0px 1px var(--color-negro);
    cursor:pointer;
}
.boton-selector .boton__checkbox:checked + .boton__label {
    background-color: var(--color-verde);
}
.boton-selector .boton__checkbox:checked + .boton__label:before {
    transform: translateX(2rem);
}

#origen-destino{
    border: 1px solid black;
    height: 250px;
    padding: 2%;
    width: 100%;
}

 #reloj{
    width: 40%;
    float: right;
}

.parte-izquierda {
    width: 60%;
    float: left;
}